@import "compass/css3";
@import "compass/utilities";

@import "../vars.scss";

a:link, a:visited {
    color: GoldenRod;
    padding-left: 5px;
}
a#logo {
    display: block;
    padding: 0px;
    padding-bottom: 10px;
    text-decoration: none;
    @include background-image(linear-gradient(goldenrod, goldenrod 50%, darken(goldenrod, 4) 50%, darken(goldenrod, 4)));
}

a#logo h1 {
    padding-top: 4px;
    width: 105px;
    color: $background_color;
    display: block;
    margin: 0px auto;
    font-style: italic;
    @include text-shadow(1px 0 0px $background_color);
} 

h2.name {
    display: block;
    padding-top: 2px;
    padding-left: 5px;
}