@import "compass/css3";
@import "compass/utilities";
@import "compass/css3/box-sizing";

@import "../vars.scss";

$height: 40px;

#loading-container {
    width: 75%;
    max-width: 750px;
    height: 40px;
    overflow: visable;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 1;
    padding: 3px;
    @include border-radius(3px);
    border: lighten($background-color, 5) solid 3px;
    @include transition(display 2s);
}
#loading {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#loading-progress {
    width: 100%;
    height: 100%;
    padding: 1px;
    background-color: $background-color;
    @include box-sizing(border-box);
}
p {
    font-size: 35px;
    vertical-align: middle;
    display: inline;
    width: 500px;
    min-width: 500px;
    position: absolute;
    margin: 0px;
    padding: 0px;
}

#light-loading-text {
    position: relative;
    color: goldenrod;
    overflow: visible;
    left: 0px;
    top:  0px;
    width: 0px;
    height: 0px;
    p {
	top: 0px;
	left: 0px;
	bottom: -40px;
	right: -700px;
    }
}
#loading-progress-bar {
    position: relative;
    height: 100%;
    left: 0px;
    top:  0px;
    background-color: goldenrod; 
    overflow: hidden;
    color: $background-color;
    max-width: 100% !important;
    @include border-radius(3px);
    @include transition(width 2s);
    @include box-sizing(border-box);
}