{% extends "master.html" %}
{% block body %}
<h1>Wanna join the Dark Side?</h1>
<h2>{{ inviter_name }} invited you to join Hahbee.com!</h2>
\Sell site here\
<a href="{% url controller="visitor" action="register" invitation_id=invite_id email_secret=email_secret %}">Register here</a>
{% endblock %}
