{% comment %}
Email master
{% endcomment %}
<!DOCTYPE html>
<html>
  <head>
    {% block title %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
    <footer></footer>
  </body>
</html>
