{% comment %}
Website master
{% endcomment %}
{% spaceless %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Hahbee{% endblock %}</title>
    <meta charset="utf-8">
    <link href="/static/screen.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
{% endspaceless %}
