@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";

@import "../../scss/vars.scss";

html, body {
    height: 100%;
}

.clear {
    clear: both;
}
.loading-finished {
    opacity: 0.0 !important;
}

:unresolved {
    display: none;
}

body
{
    background-color: $background-color;
    color: white;
    overflow: hidden;
    height: 100%;

    h1 {
	font-size: 2em;
    }
    h2 {
	font-size: 1.5em;
    }

    h1, h2, h3, h4, h5, h6, h7 {
	color: Gold;
    }

    a:link {
	color: GoldenRod;
    }
    a:visited {
	color: DarkGoldenRod;
    }


    #visitor-container {
	width: 700px;
	margin: auto;
    }

    canvas {
	width: 100%;
	height: 100%;
    }
}

login-form {
    width: 500px;
    margin: auto;
    display: inline;
}

dance-bar, mona-lisa {
    display: inline;
}

right-wing, left-wing {
    height: 500px;
    width: 200px;
    display: inline-block;
    position: relative;
    margin: auto 0px;
    overflow: hidden;
    background-color: lighten($background-color, 7);
    z-index: 2;
    
    @include border-radius(10px);
}

left-wing {
    margin-left: 15px;
}
right-wing {
    margin-right: 15px;
    padding-left: 5px;
}
#right-wing-container, #left-wing-container {
    height: 50%;
    overflow: visible;
    margin: auto;
    position: absolute;
}		       

#left-wing-container {
    top: 0;
    left: 0;
    bottom: 0;
}
#right-wing-container {
    top: 0;
    bottom: 0;
    right: 0;
}

#loading-outer-container {
    position: absolute;
    width: 100%;
    height: 100%;

    $actual-height: 40px;
    $actual-width: 700px;

    #loading-container {
	width: 75%;
	max-width: 750px;
	height: $actual-height;
	overflow: visible;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: 1;
	padding: 3px;
	@include border-radius(3px);
	border: lighten($background-color, 5) solid 3px;
	opacity: 1.0;
	@include transition(opacity linear 2.0 !important);

	#loading {
	    position: relative;
	    width: 100%;
	    height: 100%;
	    overflow: hidden;
	}

	#loading-progress {
	    width: 100%;
	    height: 100%;
	    padding: 1px;
	    background-color: $background-color;
	    @include box-sizing(border-box);
	}

	p {
	    height: $actual-height;
	    font-size: 35px;
	    vertical-align: middle;
	    display: inline;
	    width: 100%;
	    position: absolute;
	    margin: 0px;
	    padding: 0px;
	}
	
	#light-loading-text {
	    position: relative;
	    color: goldenrod;
	    overflow: visible;
	    left: 0px;
	    top:  0px;
	    width: 0px;
	    height: 0px;
	    p {
		top: 0px;
		left: 0px;
		bottom: -40px;
		right: -$actual_width;
	    }
	}

	#loading-progress-bar {
	    position: relative;
	    height: 100%;
	    width: 0%;
	    left: 0px;
	    top:  0px;
	    background-color: goldenrod;
	    overflow: hidden;
	    color: $background-color;
	    max-width: 100% !important;
	    @include border-radius(3px);
	    @include transition(width 2s cubic-bezier(0,.71,.46,1));
	    @include box-sizing(border-box);
	}
    }
}
